
# Raghad Alhalabi

# About Dataset
salaries dataset generally provides information about the employees of an organization in relation to their compensation. It typically includes details such as how much each employee is paid (their salary), their job titles, the departments they work in, and possibly additional information like their level of experience, education, and employment history within the organization.

# Features
- 'Id'
- 'EmployeeName'
- 'JobTitle'
- 'BasePay'
- 'OvertimePay'
- 'OtherPay'
- 'Benefits'
- 'TotalPay' -> salary
- 'TotalPayBenefits'
- 'Year'
- 'Notes'
- 'Agency'
- 'Status'

# Tasks

1. **Basic Data Exploration**: Identify the number of rows and columns in the dataset, determine the data types of each column, and check for missing values in each column.

2. **Descriptive Statistics**: Calculate basic statistics mean, median, mode, minimum, and maximum salary, determine the range of salaries, and find the standard deviation.

3. **Data Cleaning**: Handle missing data by suitable method with explain why you use it.

4. **Basic Data Visualization**: Create histograms or bar charts to visualize the distribution of salaries, and use pie charts to represent the proportion of employees in different departments.

5. **Grouped Analysis**: Group the data by one or more columns and calculate summary statistics for each group, and compare the average salaries across different groups.

6. **Simple Correlation Analysis**: Identify any correlation between salary and another numerical column, and plot a scatter plot to visualize the relationship.

8. **Summary of Insights**: Write a brief report summarizing the findings and insights from the analyses.

# Very Important Note
There is no fixed or singular solution for this assignment, so if anything is not clear, please do what you understand and provide an explanation.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px



# Load your dataset
file_path1 = "/content/drive/MyDrive/ShAI/Salaries.csv"
file_path2 = "Salaries.csv"
df = pd.read_csv(file_path2)
df.head()

In [ ]:
df.columns

# 1) Basic Data Exploration

##  The number of rows and columns in the dataset

In [ ]:
df.shape

**The number of rows is: 148654**


**The number of columns is: 13**

## The data types of each column

In [ ]:
df.dtypes

## missing values in each column

In [ ]:
df.isna().sum()

# 2) Descriptive Statistics

In [ ]:
df["TotalPay"].mean()

In [ ]:
df["TotalPay"].median()

In [ ]:
df["TotalPay"].min()

In [ ]:
df["TotalPay"].max()

In [ ]:
df["TotalPay"].std()

Another way:

In [ ]:
df.describe()

# 3) Data Cleaning

**We can see that all the values of the columns: Notes and Status are NAN, so we can just drop them as they don't provide any information**

In [ ]:
cleaned_df = df.drop(['Notes','Status'], axis=1)

In [ ]:
cleaned_df[cleaned_df["OvertimePay"].isna()]

**We can see that only the Year and the Agency values are provided for these rows, so we can just drop them as they don't really provide useful imformation.**

In [ ]:
cleaned_df = cleaned_df[~cleaned_df["OvertimePay"].isna()]

In [ ]:
cleaned_df[cleaned_df["OtherPay"].isna()]

In [ ]:
cleaned_df[cleaned_df["BasePay"].isna()]

**Since the TotalPay values are calculated by summing the values of BasePay and OvertimePay, OtherPay and as there are no NAN values in the TotalPay column and no NAN values in both the OvertimePay and the OtherPay columns anymore, we can calculate the missing values of the BasePay from their values**

In [ ]:
cleaned_df["BasePay"] = cleaned_df["TotalPay"] - (cleaned_df["OvertimePay"] + cleaned_df["OtherPay"])

In [ ]:
cleaned_df[cleaned_df["Benefits"].isna()]

**Since the TotalPayBenefits values are calculated by summing the values of Benefits and TotalPay and as there are no NAN values in both the TotalPay and TotalPayBenefits columns, we can calculate the missing values of the Benefits from their values**

In [ ]:
cleaned_df["Benefits"] = cleaned_df["TotalPayBenefits"] - cleaned_df["TotalPay"]

In [ ]:
cleaned_df.isna().sum()

# 4) Basic Data Visualization

In [ ]:
cleaned_df["TotalPay"].hist()
plt.xlabel('Total pay')
plt.ylabel('# of repetition of this salary')
plt.title('Salary Distribution')

In [ ]:
# Convert 'JobTitle' to uppercase before counting
cleaned_df['JobTitle'] = cleaned_df['JobTitle'].str.upper()

# Visualization of proportion of employees in different departments using a pie chart
department_counts = cleaned_df['JobTitle'].value_counts().head(20)

plt.figure(figsize=(15, 15))
plt.pie(department_counts, labels=department_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('Proportion of Employees in Different Departments')
plt.show()

In [ ]:
# Convert 'JobTitle' to uppercase before counting
cleaned_df['JobTitle'] = cleaned_df['JobTitle'].str.upper()

# Visualization of proportion of employees in different departments using a pie chart
department_counts = cleaned_df['JobTitle'].value_counts().tail(40)

plt.figure(figsize=(15, 15))
plt.pie(department_counts, labels=department_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('Proportion of Employees in Different Departments')
plt.show()

# 5) Grouped Analysis:

**I'll calculate the summary statistics of the Total Pay of each job title**

In [ ]:
jobTitles_Statistics_Salaries = cleaned_df.groupby(['JobTitle'])['TotalPay'].agg(['median', 'mean', 'min', 'max']).reset_index()

jobTitles_Statistics_Salaries

**I'll sort the values by the mean in the descending order to show the top 20 average job titles salaries**

In [ ]:
top_20_Average_Job_Titles_Salaries = jobTitles_Statistics_Salaries.sort_values(by=['mean'], ascending = False).head(20)
top_20_Average_Job_Titles_Salaries

In [ ]:
fig = px.bar(top_20_Average_Job_Titles_Salaries,x ='JobTitle', y = ['mean'])

fig.update_layout(
    xaxis=dict(
        tickmode='array',  # Set the tick mode to 'array'
        tickvals=top_20_Average_Job_Titles_Salaries['JobTitle'],
        ticktext=top_20_Average_Job_Titles_Salaries['JobTitle'],
        tickangle=45,
        tickfont=dict(size=14)
    )
)
fig.show()

**I'll sort the values by the max in the descending order to show the top 20 max job titles salaries**

In [ ]:
top_20_Max_Job_Titles_Salaries = jobTitles_Statistics_Salaries.sort_values(by=['max'], ascending = False).head(20)
top_20_Max_Job_Titles_Salaries

In [ ]:
fig = px.bar(top_20_Max_Job_Titles_Salaries,x ='JobTitle', y = ['max'])

fig.update_layout(
    xaxis=dict(
        tickmode='array',  # Set the tick mode to 'array'
        tickvals=top_20_Max_Job_Titles_Salaries['JobTitle'],
        ticktext=top_20_Max_Job_Titles_Salaries['JobTitle'],
        tickangle=45,
        tickfont=dict(size=14)
    )
)
fig.show()

## 6) Simple Correlation Analysis

In [ ]:
cleaned_df.columns

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["BasePay"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["BasePay"])
fig.show()

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["OvertimePay"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["OvertimePay"])
fig.show()

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["OtherPay"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["OtherPay"])
fig.show()

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["Benefits"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["Benefits"])
fig.show()

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["TotalPay"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["TotalPay"])
fig.show()

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["TotalPayBenefits"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["TotalPayBenefits"])
fig.show()

In [ ]:
cleaned_df["TotalPay"].corr(cleaned_df["Year"])

In [ ]:
fig = px.scatter(x=cleaned_df["TotalPay"], y = cleaned_df["Year"])
fig.show()

# 7) Summary of Insights:

### The most common salary is:

100000 (It's the salary of about 60000 employee)

### The 5 most common Job titles:
1- Transit Operator

2- Special Nurse

3- Registered Nurse

4- Custodian

5- Firefighter

### The top 5 average job titles salaries:
1- GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY	

2- CHIEF INVESTMENT OFFICER	

3- CHIEF, FIRE DEPARTMENT

4- CHIEF OF POLICE	

5- DEPUTY DIRECTOR OF INVESTMENTS

### The top 5 max job titles salaries:
1- GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

2- CAPTAIN III (POLICE DEPARTMENT)	

3- DEPUTY CHIEF 3	

4- ASST MED EXAMINER

5- LIEUTENANT, FIRE SUPPRESSION	

### Correlation
There is an interesting correlation between the TotalPay and the Benefits with a value of 0.63, and it's rational taking into the account that when you got a higher salary, you will pay more benefits.

# Good Luck!